.login-container {
    position: relative;
    left: 15%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    font-family: New Amsterdam, sans-serif;
    text-decoration: underline;
    font-size: 50px;}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: New Amsterdam, sans-serif;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #a9dd0c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-family: New Amsterdam, sans-serif;
    
    cursor: pointer;
}
.login-container button:hover {
    background-color: #000000;
    color: #a9dd0c;
}
.login-container a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}


body{
    font-size: 20px;
    background-color: rgb(33, 25, 51); 
    color: #a9dd0c;
    align-items: center;
}

    ul{
        margin:0;
        padding: 0;}
    a{
        text-decoration: none;
        color: white;}

        nav{
            position: fixed;
            z-index: 5000;
        }        


        li.menu{
            float: left;
            padding: 20px;
            list-style: none;
            font-family: New Amsterdam, sans-serif;}
     

        
        div.menu{
            top: 0px;
            left: 0px;
            width: 800px;
            position: absolute;}
    

                li.menu{
                    float: left;
                    padding: 20px;
                    list-style: none;
                    font-family: New Amsterdam, sans-serif;}        

                    ul{
                        margin:0;
                        padding: 0;}
                    a{
                        text-decoration: none;
                        color: white;}


                        p.titulo {
                            position: absolute; 
                            left: 40px; top: 2300px; 
                            color: white; font-size: 50px;}


                            li.menu:hover{
                                background-color: #a9dd0c;
                                border-radius: 15px;
                                transition: 0.2s;
                                transition: 0.3s;
                                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);}
                            


                                #mensageminicial{
                                    
                                    font-family: New Amsterdam, sans-serif
                                    
                                }
                                .mensageminicial:hover{

                                    background-color: rgba(0, 0, 0, 0);
                    
                                   
                                }